@keyframes neonBorder {
  0% {
    border-color: cyan;
    box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan;
  }
  50% {
    border-color: purple;
    box-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple;
  }
  100% {
    border-color: white;
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
  }
}

.neon-border {
  border: 4px solid cyan;
  animation: neonBorder 10s infinite alternate;
}

@keyframes neonBorderTop {
  0% {
    border-top-color: cyan;
    box-shadow: 0 -0 10px cyan, 0 -0 20px cyan, 0 -0 30px cyan;
  }
  50% {
    border-top-color: purple;
    box-shadow: 0 -0 10px purple, 0 -0 20px purple, 0 -0 30px purple;
  }
  100% {
    border-top-color: white;
    box-shadow: 0 -0 10px white, 0 -0 20px white, 0 -0 30px white;
  }
}

.neon-border-top {
  border-top: 4px solid cyan; /* solo top */
  border-right: none;
  border-left: none;
  border-bottom: none;
  animation: neonBorderTop 10s infinite alternate;
}


@keyframes neonBorderBottom {
  0% {
    border-bottom-color: cyan;
    box-shadow: 0 -0 10px cyan, 0 -0 20px cyan, 0 -0 30px cyan;
  }
  50% {
    border-bottom-color: purple;
    box-shadow: 0 -0 10px purple, 0 -0 20px purple, 0 -0 30px purple;
  }
  100% {
    border-bottom-color: white;
    box-shadow: 0 -0 10px white, 0 -0 20px white, 0 -0 30px white;
  }
}

.neon-border-bottom {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 4px solid cyan;
  animation: neonBorderBottom 10s infinite alternate;
}